{
    "network": "sepolia",
    "timelockDelay": 3600,
    "timelockAdminAddress": "0x..",
    "deployerPvtKey": "0x..",
    "rpc": "...",
    "rollupManagerAddress": "0x...",
    "aggLayerGatewayAddress":"0x...",
}
