{
    "network": "sepolia",
    "rollupManagerAddress": "0x...",
    "aggLayerGatewayAddress":"0x...",
    "timelockDelay": 3600,
    "timelockSalt": "",
    "deployerPvtKey": "",
    "maxFeePerGas": "",
    "maxPriorityFeePerGas": "",
    "multiplierGas": "",
    "deployerPvtKey": "0x..",
    "rpc": "...",
    "timelockAdminAddress": "0x..",
    "proxiedTokensManagerAddress":"0x.."
}
