{
    "type": "EOA",
    "polygonRollupManagerAddress": "0x9A676e781A523b5d0C0e43731313A708CB607508",
    "timelockDelay": 0,
    "deployerPvtKey": "",
    "maxFeePerGas": "",
    "maxPriorityFeePerGas": "",
    "multiplierGas": "",
    "rollups": [
        {
            "rollupAddress": "0x06cd7788D77332cF1156f1E327eBC090B5FF16a3",
            "newRollupTypeID": 2,
            "upgradeData": "0x"
        }
    ]
}