{
    "type": "EOA",
    "consensusContract": "AggchainFEP",
    "consensusContractAddress": "",
    "polygonRollupManagerAddress": "0x9A676e781A523b5d0C0e43731313A708CB607508",
    "verifierAddress": "",
    "description": "Type: Validium, Version: etrog, genesis: /ipfs/QmUXnRoPbUmZuEZCGyiHjEsoNcFVu3hLtSvhpnfBS2mAYU",
    "forkID": 0,
    "timelockDelay": 864000,
    "timelockSalt": "",
    "deployerPvtKey": "",
    "maxFeePerGas":"",
    "maxPriorityFeePerGas":"",
    "multiplierGas": "",
    "genesisRoot": "0x4e162206cf43dc25698089ff4183ab1ef31c56049d57bcb295e1fc7a734cfe8f",
    "programVKey": "0xaabbccddeeff00112233445566778899aabbccddeeff00112233445566778899"
}
