{
    "tagSCPreviousVersion": "v1.0.0",
    "bridgeL2SovereignChainAddress": "0x1348947e282138d8f377b467F7D9c2EB0F335d1f",
    "proxiedTokensManagerAddress": "0x..",
    "emergencyBridgeUnpauserAddress": "0x..",
    "deployerPvtKey": "0x...",
    "timelockDelay": 3600,
    "forkParams": {
        "rpc": "rpc url",
        "timelockAdmin": "0x.."
    }
}